<ion-header>
  <ion-toolbar>
    <ion-title>Neue Liste erstellen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="editor">
    <form>
      <ion-row>
      <mat-form-field>
        <input matInput placeholder="Name" type="text" [(ngModel)]="list.name" name="name">
      </mat-form-field>
    </ion-row>

    <ion-row>
      <mat-slide-toggle [(ngModel)]="list.back" name="back">
        Zurück
      </mat-slide-toggle>
    </ion-row>
    </form>
    <ion-button (click)="createList()" color="success" style="margin-top: 20px;">Liste erstellen</ion-button>
  </div>
</ion-content>