<div>
  <form class="">
    <mat-form-field class="">
      <input matInput placeholder="Anzahl" [(ngModel)]="enteredAmount" name="amount" type="number" min="1" [max]="cable.amount" *ngIf="!ein">
      <input matInput placeholder="Anzahl" [(ngModel)]="enteredAmount" name="amount" type="number" min="1" [max]="cable.amountTotal - cable.amount" *ngIf="ein">
    </mat-form-field>
  </form>
  <button mat-button (click)="confirm()">Bestätigen</button>
</div>