<ion-header>
  <ion-toolbar>
    <ion-title>
      Lagersystem
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content ion-padding>
  <div class="editor">
  <h1>Liste auswählen</h1>
  <ion-row>
  <mat-form-field>
      <mat-label>Liste</mat-label>
      <mat-select [(ngModel)]="selectedList" >
        <mat-option *ngFor="let list of lists" [value]="list">
          {{list.name}}
        </mat-option>
      </mat-select>
  </mat-form-field>
  <ion-button [routerLink]="['/lists/new']"><mat-icon>add</mat-icon></ion-button>
  </ion-row>

  <h1>Ausbuchen</h1>
 
  <ion-button (click)="ausbuchen()">
    Scannen
  </ion-button>
  <ion-button (click)="fertig()" color="success">Fertig</ion-button>
 
  <h1>Einbuchen</h1>
 
  <ion-button (click)="einbuchen()">
    Scannen
  </ion-button>
  <ion-button  color="success" (click)="fertigIn()">Fertig</ion-button>
</div>
</ion-content>